{% extends 'layout.html' %}

{% block content %}
        <div class="content">
            <h2 class="content-subhead">Nome</h2>
            <p>Elton Ribeiro</p>
            <h2 class="content-subhead">E-mail</h2>
            <p>eltonribeiro@outlook.com</p>
            <h2 class="content-subhead">Telefone</h2>
            <p>eltonribeiro@outlook.com</p>
            <h2 class="content-subhead">Mídias Sociais</h2>
            <a class="pure-button" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">Linkedin</a>

        </div>
{% endblock %}


